:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #00b3b3;
    background-color: #111827;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #fbfbfd;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #00b3b3;
  }
  
  body {
    margin: 0;
    text-align: center;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.8em;
    line-height: 1.1;
  }
  
  h2,h3 {
    color: #00b3b3;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #0a0e17;
    z-index: 100;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
    height: 2em;
  
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  
  .topnav a.active {
    background-color: #00b3b3;
    color: white;
  }
  
  .topnav .title {
    width: 120px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  
  .content {
    padding: 10px 80px;
    text-align: justify;
    float: none;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky+#app {
    padding-top: 60px;
  }
  
  #aSide {
    
    width: 100%;
    text-align: center;
  }
  
  #viewButton {
    position: relative;
    bottom: 30px;
    right: 60px;
  
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 0px;
  
    background-color: #2b2929;
    opacity: .9;
  
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  }
  #viewButton:hover {
    cursor: pointer;
    opacity: 1;
  }
  #aSide iframe {
    /* height: 600px;
       width: 100%; */
    height: 500px;
    width: 70%;
    padding: 10px 10px;
    border: none;
  }
  
  
  #logo {
    height: 2em;
  }
  
  
  #app {
  
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #00b3b3);
  }
  
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: #00b3b3;
  }
  
  button:focus,
  button:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #e1e4e7;
      background-color: #111827;
    }
  
    a:hover {
      color: #00b3b3;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }
  
  @media all and (max-width: 640px) {
  
    :root {
      --header-height: 56px;
      --icon-size: 24px;
    }
  
    #aSide iframe {
      /* background-color: aqua; */
      padding: 5px 5px;
    }
  
    .content {
      padding: 10px 10px;
      text-align: justify;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive .title {
      position: absolute;
      left: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }